---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,%2025))?apiKey=hhp47b5bvjda7pj44gsauf78&format=json&pageSize=20&show=longName,city,distance,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":17,"currentPage":1,"total":17,"totalPages":1,"queryTime":"0.015","totalTime":"0.028","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=longName,city,distance,phone,storeType&pageSize=20&format=json&apiKey=hhp47b5bvjda7pj44gsauf78","stores":[{"longName":"BEST
        BUY MOBILE - CHERRY CREEK SHOPPING CENTER","city":"Denver","distance":3.45,"phone":"303-270-9189","storeType":"Mobile
        SAS"},{"longName":"BEST BUY - BELMAR","city":"Lakewood","distance":5.31,"phone":"303-742-8039","storeType":"Big
        Box"},{"longName":"BEST BUY - COLORADO BLVD","city":"Denver","distance":5.59,"phone":"303-758-5805","storeType":"Big
        Box"},{"longName":"BEST BUY - DENVER WEST","city":"Lakewood","distance":8.39,"phone":"303-273-5617","storeType":"Big
        Box"},{"longName":"BEST BUY - WESTMINSTER","city":"Westminster","distance":8.52,"phone":"303-426-4434","storeType"[...]
